<div class="fixed inset-0 100vh 100vw -z-50" data-background></div>

<DianWeb.HeaderComponents.app_header current_user={@current_user} />

<main class="p-4">
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
